@page
@model dotNetMVCLeagueApp.Areas.Identity.Pages.Account.Manage.LinkSummoner

@{
    ViewData["Title"] = "Link Summoner";
    ViewData["ActivePage"] = ManageNavPages.LinkSummoner;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form id="link-summoner" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LinkSummonerInput.SummonerName"></label>
                <input asp-for="LinkSummonerInput.SummonerName" class="form-control rounded-corners-small"/>
                <span asp-validation-for="LinkSummonerInput.SummonerName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LinkSummonerInput.Server"></label>
                <select class="browser-default custom-select rounded-corners-small" asp-for="LinkSummonerInput.Server">
                    @foreach (var (_, server) in Model.QueryableServers) {
                        <option value="@server">@server</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary float-right rounded-corners-small">Submit</button>
        </form>

    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <hr>
        <p class="no-spacing text-center">Unlink any previously linked Summoner name</p>
        <div class="d-flex justify-content-center">
            <form method="post" asp-page-handler="Unlink">
                <button type="submit" class="btn btn-primary rounded-corners-small">Unlink Summoner</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}