@page
@using dotNetMVCLeagueApp.Areas.Identity.Pages.Data
@model ManageProfileCards

@{
    ViewData["Title"] = "Manage Profile Cards";
    ViewData["ActivePage"] = ManageNavPages.ManageProfileCards;
}

<h4>@ViewData["Title"]</h4>
<p class="no-spacing">Only top three cards (blue background) are shown.</p>


@await Html.PartialAsync("_ProfileCardTablePartial", new ProfileCardTableDto {
    ProfileCards = Model.ProfileCards,
    StatusMessage = Model.StatusMessage
})