@page
@using dotNetMVCLeagueApp.Areas.Identity.Pages.Data
@model ManageProfileCards

@{
    ViewData["Title"] = "Manage Profile Cards";
    ViewData["ActivePage"] = ManageNavPages.ManageProfileCards;
}

<h4>@ViewData["Title"]</h4>
<p class="no-spacing">Only top three cards (green background) are shown.</p>

<div class="animate__animated animate__fadeIn">
    @await Html.PartialAsync("_ProfileCardTablePartial", new ProfileCardTableDto {
        ProfileCards = Model.ProfileCards,
        StatusMessage = Model.StatusMessage
    })
</div>