@{
    ViewData["Title"] = "Home Page";
}
<div class="">
    <div class="container-fluid text-center">
        <h1 class="display-4">Core debug samples</h1>
            <p>
                This page is a very simple debug of main features of the core of the application.
            </p>
    </div>
    
    <div class="container-fluid mt-lg-4">

        <form method="post" asp-controller="Summoner" asp-action="Search">
            <form>
                <div class="form-group">
                    <label for="UserNameInput">Username</label>
                    <input type="text" value="LULW" class="form-control" name="name" id="UserNameInput" placeholder="LULW">
                </div>
                <div class="form-group">
                    <label for="SelectServer">Select server</label>
                    <select class="form-control" id="SelectServer" name="server">
                        <option name="euw">EUW</option>
                        <option name="na">NA</option>
                        <option name="eune">EUNE</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mb-4">Search</button>
            </form>
        </form>
    </div>

</div>