@model dotNetMVCLeagueApp.Data.FrontendDtos.Home.HomePageDto
@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4 mx-auto">

            <div class="mt-4 p-4 card-search">

                <h1 class="heading-search text-center">Search</h1>
                <form asp-controller="Summoner" asp-action="Profile">
                    <select class="form-select mb-1" id="server" name="server">
                        @foreach (var (queryKey, serverName) in Model.ServerList) {
                            <option name="@queryKey">@serverName</option>
                        }
                    </select>

                    <input type="text" class="form-control mb-1 text-center" id="name" placeholder="Summoner name" name="name"/>

                    <button type="submit" class="btn-hover blue float-end">
                        <i class="fa fa-search"></i>
                    </button>

                </form>

            </div>
        </div>
    </div>


</div>