
$secondary-black: #050606;
$primary-gray: #151515;
$primary-white: #FDFDFD;
$secondary-white: #D8D7D5;

//$background-color1: #0a0a0a;
$background-color1: #ffffff;
//$background-color2: #010101;
$background-color2: #fcfcfc;


$card-background-dark: rgba(12, 12, 12, 1);
$card-background-light: rgba(217, 227, 231, 1);
$border-color-header: rgb(176, 176, 176);
$color-primary-light-gray: #c9daeb;

// Paleta pro vetsinu komponent
$color-text-card-default:#baccc9;
//$color-text-primary-white: #D4F2F4;
$color-text-primary-white: #eef2f3;
$color-secondary-gray: #243D5D;
$color-primary-grey: #414954;
$color-primary-blue: #0b45e4;
$color-primary-red: #d8082e;

$color-component-neutral: #D9E3E7;
$color-primary-black: rgb(12, 12, 12);
$color-win: #51e19b;
$color-loss: #e5313d;