
$secondary-black: #050606;
$primary-gray: #151515;
$primary-white: #FDFDFD;
$secondary-white: #D8D7D5;

$background-color1: #050505;
$background-color2: #000000;

$color-kda-poor: grey;
$color-kda-average: #79fcf8;
$color-kda-good: yellow;


$card-background-dark: rgba(12, 12, 12, 0.65);
$card-background-light: rgba(217, 227, 231, 0.85);
$border-color-header: rgb(78, 78, 78);

// Paleta pro vetsinu komponent
$color-text-card-default:#baccc9;
//$color-text-primary-white: #D4F2F4;
$color-text-primary-white: #D9E3E7;
$color-secondary-gray: #243D5D;
$color-blue-primary: #0b45e4;
$color-red-primary: #d8082e;

$color-component-neutral: #D9E3E7;
$color-primary-black: rgb(12, 12, 12);
$color-win: #51e19b;
$color-loss: #e5313d;