@import "fonts";
@import "colors";
@import "glassmorphism";
@import "utils";


.card-dark {
    @include glass-strongest($card-background-dark);
    overflow: hidden;
    font-size: 16px;
    font-family: Sora, sans-serif;
    
}

.select-dark {
    background-color: $color-primary-black;
    color: $color-text-primary-white;
    border: solid $border-color-header 2px;
    font-family: ProximaNova, sans-serif;

    &:focus {
        box-shadow: none;
        border: solid $border-color-header 2px;
    }
}

.card-light {
    @include glass-strongest($card-background-light);
    overflow: hidden;
    font-size: 16px;
    font-family: Sora, sans-serif;
    color: $color-primary-black;
}

.dot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px !important;
}

.color-loss {
    color: $color-loss;
}

.color-win {
    color: $color-win;
}

$color-win-light: darken($color-win, 30%);
$color-loss-light: darken($color-loss, 10%);

.color-win-light {
    color: $color-win-light;
}

.color-loss-light {
    color: $color-loss-light
}


.match-progress-bar {
    height: 16px;
    border-radius: 8px;
}

.progress-bar-win {
    background-color: $color-win-light;
}

.progress-bar-loss {
    background-color: $color-loss-light;
}


.dot-loss {
    background-color: $color-loss;
}

.dot-win {
    background-color: $color-win;
}

.card-dark-header {
    padding: 8px 24px;
    border-bottom: solid $border-color-header 2px;
}

.button-dark {
    font-family: ProximaNova, sans-serif;
    font-weight: bold;
    color: $color-primary-black !important;
}

.button-dark-primary {
    background: $color-text-primary-white !important;
}

.button-light-primary {
    background: $color-primary-black !important;
}

.button-light {
    @extend .button-dark;
    color: $color-text-primary-white !important;
}

.card-dark-text {
    color: $color-text-card-default;
}

.card-light-text {
    color: $color-primary-black;
}

.card-dark-text-header {
    color: $color-text-primary-white;
}

.card-text-primary-blue {
    color: $color-blue-primary;
}

