@import "typography";
@import "colors";
@import "utils";

@mixin card-body($color) {
    border: 1px solid rgba(98, 98, 98, 0.2);
    background-color: $color;
    box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.2);
}

.card-dark {
    @include card-body($card-background-dark);
    overflow: hidden;
    font-size: 14px;
    font-family: Sora, sans-serif;

}

.summoner-icon-large {
    width: 60px;
    @extend .rounded;
}

.rank-icon-large {
    width: 80px;
}

.card-light {
    @include card-body($card-background-light);
    overflow: hidden;
    font-size: 16px;
    font-family: Sora, sans-serif;
    color: $color-primary-black;
}

.card-default-light {
    @include card-body($color-text-primary-white);
    overflow: hidden;
    font-size: 14px;
    font-family: Sora, sans-serif;
    color: $color-primary-black;
}


.dot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px !important;
}

.color-loss {
    color: $color-loss;
}

.color-win {
    color: $color-win;
}

$color-win-light: darken($color-win, 30%);
$color-loss-light: darken($color-loss, 10%);

.color-win-light {
    color: $color-win-light;
}

.color-loss-light {
    color: $color-loss-light
}

.color-blue-side {
    color: $color-blue-side;
}

.color-red-side {
    color: $color-red-side;
}

.color-remake-light {
    color: $color-primary-grey;
}

.progress-bar-blueside {
    background-color: $color-blue-side;
}

.progress-bar-redside {
    background-color: $color-red-side;
}

.match-progress-bar {
    height: 16px;
    border-radius: 8px;
}

.team-overview-progress-bar {
    height: 20px;
    border-radius: 8px;
}

.progress-bar-win {
    background-color: $color-win-light;
}

.progress-bar-loss {
    background-color: $color-loss-light;
}


.btn-primary-blue {
    color: $color-text-primary-white !important;
    background: $color-primary-blue !important;
}

.card-header-default {
    padding: 8px 24px;
    border-bottom: solid $border-color-header 2px;
}

.button-dark {
    font-family: ProximaNova, sans-serif;
    font-weight: bold;
    color: $color-primary-black !important;
}

.button-dark-primary {
    background: $color-text-primary-white !important;
}

.button-dark-blue {
    background: $color-primary-blue;
}

.button-light-primary {
    background: $color-primary-black !important;
}

.button-light {
    @extend .button-dark;
    color: $color-text-primary-white !important;
}

.button-red {
    background: $color-primary-red;
}

.card-dark-text {
    color: $color-text-card-default;
}

.card-light-text {
    color: $color-primary-black;
}

.card-dark-text-header {
    color: $color-text-primary-white;
}

.card-text-primary-blue {
    color: $color-primary-blue;
}


.card-player-table {
    background-color: $color-component-neutral;
    overflow: hidden;
}

.champion-icon-match {
    @extend .rounded;
    width: 40px;
}

@mixin border-champion($color) {
    border: 3px $color;
}

.champion-border-blue-side {
    @include border-champion($color-blue-side);
}

.champion-border-red-side {
    @include border-champion($color-red-side);
}

.summoner-icon-match {
    width: 20px;
    height: 20px;
    @extend .rounded;
}

.icons-match {
    max-width: 20px;
}

.rune-primary-match {
    width: 23px;
}

.rune-secondary-match {
    width: 16px;
}

.item-icon-match {
    @extend .rounded;
    width: 30px;
}

.champion-icon-graph-control {
    max-width: 60px;
    @extend .rounded;
}

.hr-match {
    margin: 3px;
    color: $color-primary-light-gray;
    background-color: $color-primary-light-gray;
}

.champion-timeline {
    min-height: 25vh;
}