@import "typography";
@import "colors";
@import "utils";

@mixin card-body($color) {
    border: 1px solid rgba(98, 98, 98, 0.2);
    background-color: $color;
    box-shadow: 0 4px 8px 0 rgba(38, 37, 37, 0.2);
}

.summoner-icon-large {
    width: 60px;
    @extend .rounded;
}

.rank-icon-large {
    width: 80px;
}

.card-default-light {
    @include card-body($color-text-primary-white);
    overflow: hidden;
    font-size: 14px;
    font-family: Sora, sans-serif;
    color: $color-primary-black;
}


$color-win-light: darken($color-win, 30%);
$color-loss-light: darken($color-loss, 10%);

.color-win-light {
    color: $color-win-light;
}

.color-loss-light {
    color: $color-loss-light
}

.color-blue-side {
    color: $color-blue-side;
}

.color-red-side {
    color: $color-red-side;
}

.color-remake-light {
    color: $color-primary-grey;
}

.progress-bar-blueside {
    background-color: $color-blue-side;
}

.progress-bar-redside {
    background-color: $color-red-side;
}

.match-progress-bar {
    height: 16px;
    border-radius: 8px;
}

.team-overview-progress-bar {
    height: 20px;
    border-radius: 8px;
}

.progress-bar-win {
    background-color: $color-win-light;
}

.progress-bar-loss {
    background-color: $color-loss-light;
}


.card-header-default {
    padding: 8px 24px;
    border-bottom: solid $border-color-header 2px;
}

.card-light-text {
    color: $color-primary-black;
}

.card-player-table {
    background-color: $color-component-neutral;
    overflow: hidden;
}

.champion-icon-match {
    @extend .rounded;
    width: 40px;
}

@mixin border-champion($color) {
    border: 3px solid $color;
}

.champion-border-blue-side {
    @include border-champion($color-blue-side);
}

.champion-border-red-side {
    @include border-champion($color-red-side);
}

.summoner-icon-match {
    width: 20px;
    height: 20px;
    @extend .rounded;
}

.icons-match {
    max-width: 20px;
}

.rune-primary-match {
    width: 23px;
}

.rune-secondary-match {
    width: 16px;
}

.item-icon-match {
    @extend .rounded;
    width: 30px;
}

.hr-match {
    margin: 3px;
    color: $color-primary-light-gray;
    background-color: $color-primary-light-gray;
}

.champion-timeline {
    min-height: 25vh;
}