@font-face {
    font-family: AirbnbCereal;
    src: url("../fonts/AirbnbCereal.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/NexaDemo-Bold.ttf");
}

@font-face {
    font-family: NexaLight;
    src: url("../fonts/NexaDemo-Light.ttf");
}

@font-face {
    font-family: Sora;
    src: url("../fonts/Sora-Regular.ttf");
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Regular.otf");
}