@font-face {
    font-family: AirbnbCereal;
    src: url("../fonts/AirbnbCereal.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/NexaDemo-Bold.ttf");
}

@font-face {
    font-family: NexaLight;
    src: url("../fonts/NexaDemo-Light.ttf");
}