$glass-weak: 3px;
$glass-stronger: 6px;
$glass-strongest: 9px;

@mixin glass($strength, $color) {
    //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: $color;
    //backdrop-filter: blur($strength);
    //-webkit-backdrop-filter: blur($strength);
    
}

// Tridy pro frosted glass efekt viz. https://glassmorphism.com/

@mixin glass-weak($color) {
    @include glass($glass-weak, $color);
}

@mixin glass-stronger($color) {
    @include glass($glass-stronger, $color);
}

@mixin glass-strongest($color) {
    @include glass($glass-strongest, $color);
}