@import "typography";
@import "colors.scss";
@import "components.scss";
@import "utils";

.btn, .nav-item {
    font-family: Sora, OpenSans, "Roboto", sans-serif !important;
}


.heading-search {
    font-family: OpenSans, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: $color-primary-grey;
}

.color-primary {
    color: $primary-white;
}

.color-secondary {
    color: $secondary-white;
}

body {
    font-family: OpenSans, "Roboto", sans-serif !important;
}

table, thead, tr, tbody, th, td {
    text-align: center;
}

.table td {
    text-align: center;
}

td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

td > * {
    vertical-align : middle;
}