@import "typography";
@import "colors";
@import "utils";

$color-text-deaths: #d8082e;

.match-card {
    min-width: 680px;
}

.hr-header {
    margin: 3px;
    color: $color-primary-light-gray;
    background-color: $color-primary-light-gray;
}

.champion-icon {
    width: 55px;
    height: 55px;
    @extend .rounded;
}

.summoner-icon {
    width: 28px;
    height: 28px;
    @extend .rounded;
}

.icons {
    max-width: 28px;
}

.items {
    max-width: 100px;
}

.rune {
    width: 32px;
}

.rune-secondary {
    width: 23px;
}

.text-small {
    font-size: small;
}

.header-text-game-status {
    @extend .no-spacing;
    font-family: ProximaNova, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-right: 8px;
}

.header-text-role {
    @extend .no-spacing;
    font-family: ProximaNova, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.overview-text-games {
    font-weight: bold;
    @extend .no-spacing;
    font-size: 24px;
}

.deaths {
    color: $color-primary-red;
}

.queue-type-text {
    font-family: ProximaNova, OpenSans, sans-serif;;
    font-size: 48px;
    font-weight: bold;
}
