@import "fonts";
@import "colors";
@import "utils";

$color-text-deaths: #d8082e;

.match-card {
    min-width: 760px;
}

.hr-header {
    margin: 3px;
}

.champion-icon {
    width: 55px;
    height: 55px;
    @extend .rounded;
}

.summoner-icon {
    width: 28px;
    height: 28px;
    @extend .rounded;
}

.icons {
    max-width: 28px;
}

.items {
    max-width: 100px;
}

.rune {
    width: 32px;
}

.rune-secondary {
    width: 23px;
}

.text-small {
    font-size: small;
}

.header-text-h1 {
    @extend .no-spacing;
    font-family: ProximaNova, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-right: 8px;
}

.header-text-h2 {
    @extend .no-spacing;
    font-family: ProximaNova, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.kda {
    .poor {
        color: $color-kda-poor;
    }
    
    .average {
        color: $color-kda-average;
    }
    
    .good {
        color: $color-kda-good;
    }
}

.deaths {
    color: $color-red-primary;
}