@import "typography";
@import "colors";

@mixin hoverFade {
    transition: 0.5s !important;
    opacity: 60%;
    color: $primary-white;
    text-decoration: none !important;
}

.navbar-header-text {
    font-family: NexaBold, sans-serif;
    font-size: 36px;
    color: $primary-white;
    text-transform: uppercase;

    &:hover {
        @include hoverFade;
    }
}

.button-as-link {
    background: none !important;
    border: none;
    margin: 0 !important;
    text-transform: none !important;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    min-width: auto !important;
    color: initial;
}

.navbar-background {
    background-color: $color-primary-blue;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar-menu-item {
    font-family: ProximaNova, sans-serif;
    font-size: 18px;
    color: $primary-white;

    &:hover {
        @include hoverFade;
    }
}