
// Ranky
$iron-color: #808080;
$bronze-color: #735d54;
$silver-color: #b3afad;
$gold-color: #d9aa0f;
$platinum-color: #0fc5d9;
$diamond-color: #2d7aed;
$master-color: #502ded;
$grandmaster-color: #ed2d37;
$challenger-color: #e3dc4f;