@import "colors";

@font-face {
    font-family: AirbnbCereal;
    src: url("../fonts/AirbnbCereal.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/NexaDemo-Bold.ttf");
}

@font-face {
    font-family: NexaLight;
    src: url("../fonts/NexaDemo-Light.ttf");
}

@font-face {
    font-family: Sora;
    src: url("../fonts/Sora-Regular.ttf");
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}


@mixin text-white() {
    color: $color-text-primary-white;
    font-family: ProximaNova, sans-serif;
}

.alert-error {
    font-family: ProximaNova, sans-serif !important;
}

.text-white-color {
    @include text-white();
}

.summoner-name-header {
    @extend .text-white-color;
    font-size: 26px;
    font-weight: bold;
}

.heading1 {
    font-size: 40px;
    font-weight: bold;
}

.heading2 {
    font-size: 32px;
    font-weight: bold;
}