@import "colors";
$small-border-radius: 16px;
$medium-border-radius: 30px;
$rounded-radius: 100%;

.no-spacing {
    margin: 0;
    padding: 0;
}

.rounded-corners-small {
    border-radius: $small-border-radius;
}

.rounded-corners-medium {
    border-radius: $medium-border-radius;
}

.rounded {
    border-radius: $rounded-radius;
}

.toggler-white {
    color: $color-primary-light-gray;
    font-size: 1.5em;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

div.div-clickable {
    cursor: pointer;
}

.not-selectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



