@using dotNetMVCLeagueApp.Data.FrontendDtos.Summoner
@model SummonerOverviewDto

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Stats - {Model.Summoner.Name}";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-md-1 m-4" id="summonerInfo">
            <div class="card">
                <div class="card-body ">
                    
                </div>
            </div>
        </div>

        <div class="col-lg">

        </div>

    </div>

</div>