@using dotNetMVCLeagueApp.Data.FrontendDtos.Summoner
@model SummonerOverviewDto

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Stats - {Model.Summoner.Name}";

    string GetRankClass(string tier, string rank) => tier switch {
        "IRON" => "iron-rank",
        "SILVER" => "silver-rank",
        "BRONZE" => "bronze-rank",
        "GOLD" => "gold-rank",
        "PLATINUM" => "platinum-rank",
        "DIAMOND" => "diamond-rank",
        "MASTER" => "master-rank",
        "GRANDMASTER" => "grandmaster-rank",
        "CHALLENGER" => "challenger-rank",
        _ => ""
        };

}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-md-1 m-4" id="summonerInfo">
            <div class="card">
                <div class="card-body ">
                    
                </div>
            </div>
        </div>

        <div class="col-lg">

        </div>

    </div>

</div>