@using dotNetMVCLeagueApp.Data.FrontendDtos.Summoner
@using dotNetMVCLeagueApp.Const
@model SummonerOverviewDto

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Stats - {Model.Summoner.Name}";

    var soloq = Model.Summoner.QueueInfo.FirstOrDefault(x => x.QueueType == GameConstants.RankedSolo);
}


<div class="container-fluid">
    <div class="row">
        <div class="col" id="summonerInfo">

        </div>

        <div class="col-auto m-4">
            <div id="matchOverview">
                @{ await Html.RenderPartialAsync("Fragments/MatchlistOverview", Model.MatchListStatsDto); }
            </div>
            <div id="matches">
                @foreach (var match in Model.MatchHeaders) {
                    await Html.RenderPartialAsync("Fragments/MatchHeaderFragment", match);
                }
            </div>
        </div>

        <div class="col">

        </div>
    </div>

</div>