@using dotNetMVCLeagueApp.Data.FrontendDtos.Summoner
@model SummonerOverviewDto

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Stats - {Model.Summoner.Name}";
}


<div class="container-fluid">
    <div class="row">
        <div class="col" id="summonerInfo">

        </div>

        <div class="col-auto m-4">

            <div id="matchOverview">
                @{ await Html.RenderPartialAsync("Fragments/MatchlistOverview", Model.MatchListOverviewDto); }
            </div>
            <div id="matches">
                @{
                    var renders = new List<Task>(Model.MatchHeaders.Count);
                    renders.AddRange(Model.MatchHeaders.Select(match => Html.RenderPartialAsync("Fragments/MatchHeaderFragment", match)));
                    await Task.WhenAll(renders);
                }

            </div>

            <div class="mt-4 d-flex justify-content-around" id="show-more">
                <button class="btn rounded-corners-small button-dark button-dark-primary">
                    <span class="m-4">Show More</span>
                </button>
            </div>
        </div>

        <div class="col-auto">
            <div class="d-flex justify-content-center">
                <select class="browser-default custom-select mb-1 select-dark rounded-corners-small" id="queueFilter">
                    <option name="allGames">All games</option>
                    <option name="rankedSolo">Ranked Solo</option>
                    <option name="rankedFlex">Ranked Flex</option>
                </select>
            </div>
        </div>
    </div>

</div>