@using dotNetMVCLeagueApp.Data.FrontendDtos.Summoner
@using dotNetMVCLeagueApp.Const
@model SummonerOverviewDto

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Stats - {Model.Summoner.Name}";

    var soloq = Model.Summoner.QueueInfoList.FirstOrDefault(x => x.QueueType == GameConstants.RankedSolo);
}


<div class="container-fluid">
    <div class="row">
        <div class="col" id="summonerInfo">

        </div>

        <div class="col-auto m-4">
            <div id="matchOverview">
                @{ await Html.RenderPartialAsync("Fragments/MatchlistOverview", Model.MatchListOverviewDto); }
            </div>
            <div id="matches">
                @{
                    var renders = new List<Task>(Model.MatchHeaders.Count);
                    renders.AddRange(Model.MatchHeaders.Select(match => Html.RenderPartialAsync("Fragments/MatchHeaderFragment", match)));
                    await Task.WhenAll(renders);
                }

            </div>

            <div class="mt-4 d-flex justify-content-around" id="show-more">
                <button class="btn rounded-corners-small button-dark button-dark-primary">
                    <span class="m-4">Show More</span>
                </button>
            </div>
        </div>

        <div class="col">

        </div>
    </div>

</div>