@model dotNetMVCLeagueApp.Pages.Data.MatchDetail.Timeline.MatchTimelineOverviewDto

@{
    var timeline = Model.MatchTimeline;
}

@section Scripts {
    <script src="~/js/MatchTimelinePlayerGraph.js" type="text/javascript">
    
    </script>
}

<div class="container">
    <canvas id="playerGraph"></canvas>
</div>