@model dotNetMVCLeagueApp.Pages.Match

@{
    var matchTimelineQueryData = new Dictionary<string, string> {
        {"gameId", Model.QueryParams.GameId.ToString()},
        {"server", Model.QueryParams.Server},
        {"participantId", Model.QueryParams.ParticipantId.ToString()},
        {"summonerName", Model.QueryParams.SummonerName}
    };
}

@functions {

    void CreatePillToggle(int participantId) {
        <text>
            <a class="nav-link" id="pills-participant-@participantId-tab" data-toggle="pill"
               href="#pills-participant-@participantId" aria-controls="pills-participant-@participantId"
               aria-selected="false">
            </a>
        </text>
    }

    void CreatePillDiv(int participantId) {
        <text>
            <div class="tab-pane fade show" id="pills-participant-@participantId" role="tabpanel"
                 aria-labelledby="pills-participant-@participantId-tab">
                @participantId
            </div>
        </text>
    }

}

@{
    var player = Model.MatchOverview.Players[Model.MatchOverview.ParticipantId];
    var participants = Model.MatchOverview.Players.Where(playerKv => playerKv.Key != Model.MatchOverview.ParticipantId)
        .Select(playerKv => playerKv.Value)
        .OrderBy(playerDto => playerDto.ParticipantId)
        .ToList();
}

<div class="mt-4 MatchTimelineDataFetch">
    <form method="get" asp-page-handler="MatchTimeline" asp-all-route-data="@matchTimelineQueryData" data-ajax-method="get"
          data-ajax="true" data-ajax-success="OnLoadTimeline">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg rounded-corners-small">Show Timeline and Personal Stats</button>
        </div>
    </form>
</div>

<div id="ProfileStats" class="invisible">
    <h2 class="heading2">Player Stats</h2>

    <div class="card-default-light card-body rounded-corners-small">

        <div class="row">
            <div class="col-md-4 col-sm-7">
                <h4 class="heading4 text-center">Comparison to</h4>

                <ul class="nav nav-pills flex-column rounded-corners-small" role="tablist">
                    @foreach (var participant in participants) {
                        var participantId = participant.ParticipantId;
                        <li class="nav-item">
                            <a class="nav-link rounded-corners-small" id="pills-participant-@participantId-tab" data-toggle="pill"
                               href="#pills-participant-@participantId" aria-controls="pills-participant-@participantId"
                               aria-selected="false">
                                <div class="d-flex no-gutters justify-content-start align-items-center">
                                    <img alt="N/A" data-toggle="tooltip" data-placement="top" title="@participant.ChampionAsset.Name"
                                         src="@Url.Content($"/assets/{participant.ChampionAsset.RelativeAssetPath}")"
                                         class="champion-icon-match"/>
                                    <p class="no-spacing ml-2 font-weight-bold text-overflow-ellipsis">@participant.SummonerName</p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-md-8 col-sm-5">
                <div class="tab-content" id="v-pills-tabContent">
                    @foreach (var participantId in participants.Select(participant => participant.ParticipantId)) {
                        <div class="tab-pane fade show" id="pills-participant-@participantId" role="tabpanel"
                             aria-labelledby="pills-participant-@participantId-tab">

                            <div class="card-player-table align-self-center rounded-corners-small card-body mb-4">
                                <h3 class="heading3">Highs (maximum)</h3>
                                <p class="no-spacing">
                                    Gold:
                                    <span id="participant-@participantId-max-gold"></span>
                                    <span id="participant-@participantId-max-gold-time"></span>
                                </p>

                                <p class="no-spacing">
                                    CS:
                                    <span id="participant-@participantId-max-cs"></span>
                                    <span id="participant-@participantId-max-cs-time"></span>
                                </p>

                                <p class="no-spacing">
                                    Level:
                                    <span id="participant-@participantId-max-level"></span>
                                    <span id="participant-@participantId-max-level-time"></span>
                                </p>

                                <p class="no-spacing">
                                    Experience:
                                    <span id="participant-@participantId-max-xp"></span>
                                    <span id="participant-@participantId-max-xp-time"></span>
                                </p>
                            </div>

                            <div class="card-player-table rounded-corners-small card-body mb-3">
                                <h3 class="heading3">Lows (minimum)</h3>
                                <p class="no-spacing">
                                    Gold:
                                    <span id="participant-@participantId-min-gold"></span>
                                    <span id="participant-@participantId-min-gold-time"></span>
                                </p>

                                <p class="no-spacing">
                                    CS:
                                    <span id="participant-@participantId-min-cs"></span>
                                    <span id="participant-@participantId-min-cs-time"></span>
                                </p>

                                <p class="no-spacing">
                                    Level:
                                    <span id="participant-@participantId-min-level"></span>
                                    <span id="participant-@participantId-min-level-time"></span>
                                </p>

                                <p class="no-spacing">
                                    Experience:
                                    <span id="participant-@participantId-min-xp"></span>
                                    <span id="participant-@participantId-min-xp-time"></span>
                                </p>
                            </div>

                            <div id="participant-@participantId-stats-at-10" 
                                 class="card-player-table rounded-corners-small card-body mb-3 invisible">
                                <h3 class="heading3">At 10 Minutes</h3>
                                <p class="no-spacing">
                                    Gold:
                                    <span id="participant-@participantId-gold-at-10"></span>
                                </p>

                                <p class="no-spacing">
                                    CS:
                                    <span id="participant-@participantId-cs-at-10"></span>
                                </p>

                                <p class="no-spacing">
                                    Level:
                                    <span id="participant-@participantId-level-at-10"></span>
                                </p>

                                <p class="no-spacing">
                                    Experience:
                                    <span id="participant-@participantId-xp-at-10"></span>
                                </p>
                            </div>

                            <div id="participant-@participantId-stats-at-15" 
                                 class="card-player-table invisible rounded-corners-small card-body mb-3">
                                <h3 class="heading3">At 15 Minutes</h3>
                                <p class="no-spacing">
                                    Gold:
                                    <span id="participant-@participantId-gold-at-15"></span>
                                </p>

                                <p class="no-spacing">
                                    CS:
                                    <span id="participant-@participantId-cs-at-15"></span>
                                </p>

                                <p class="no-spacing">
                                    Level:
                                    <span id="participant-@participantId-level-at-15"></span>
                                </p>

                                <p class="no-spacing">
                                    Experience:
                                    <span id="participant-@participantId-xp-at-15"></span>
                                </p>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>